body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  margin: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0px 94px 0px;
}
.header-page__container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  justify-content: space-around;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;
  color: #212121;
  margin: 24px 70px 25px 15px;
}
.end__logo{
  margin-left:0px;
}
.multicolor--txt {
  color: #2196f3;
}
.end__logo--multicolor-txt{
  color: #ffffff;
}
.nav {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nav__link {
  position: relative;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #212121;
  text-decoration: none;
  padding: 0px 23px 0px 23px;
}
.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}
.nav__active-cur::after{
  color: #2196f3;
  display: block;
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background-color: #2196f3;
  right: 22px;
  top: 45px;
  border-radius: 4px;
}
.contact-list {
  display: flex;
  list-style: none;
  margin: 32px 0px 32px 83px;
  justify-content: flex-end;
}
.contact-list__link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  padding: 0px 25px 0px 10px;
}
.contact-list__icon {
  margin: 0px 10px 0px 0px;
}
.contact-list__item {
  align-items: center;
}
.contact-list__link:hover .contact-list__icon {
  fill: #2196f3;
}
.contact-list__link:hover{
  color:#2196f3
}
.header-section {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto; 
  padding: 0px;
}

.header-section__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin: 200px 252px 30px 252px;
}
.header-section__header-items{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feats-icon {
  margin: 0px 15px 0px 15px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.paragraph-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.paragraph-list__item {
  text-align: left;
  margin: 0px 15px 0px 15px;
}
.paragraph-list__header{
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  color: #212121;
}

.paragraph-list__txt{
  font-size: 14px;
  line-height: 1.7;
}
.job__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  color: #212121;
  text-align: center;
}
.img-list {
  list-style: none;
  display: flex;
  padding: 50px 0px 0px 0px;
  position: relative;
}
.img-list__item{
  margin: 20px 15px 0px 15px;
  position: relative;
}
.job__txt-box {
  width: 370px;
  height: 70px;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align:center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: -10px;
  border-bottom-left-radius: 4px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.job__txt-box-1 {
  padding: 27px 90px;
}
.job__txt-box-2 {
  padding:27px 0px;
  width:370px;
}
.job__txt-box-3 {
  padding: 27px 94px;}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  color: #212121;
  margin: 30px 99px 10px 99px;
}
.team__position {
  font-size: 16px;
  line-height: 1.1875em;
  margin: 0 auto;
}
.team-photos__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin: 4px 15px 0px 15px;
  text-align: center;
}
.team-photos {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.social-icons {
  margin: 16px 32px 18px 32px;
}
.social__icon {
  border-radius: 50%;
  fill: #757575;
  text-decoration: none;
}
.social__icon:hover svg,
.social__icon:focus svg {
  fill: #ffffff;
  background-color: #2196f3;
}
.social__icon--white {
  border-radius: 50%;
  fill: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.end-icons {
  padding: 0px 0px 0px 70px;
}
.end-icons__header {
  line-height: 1.14;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  color: #212121;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.clients__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  list-style: none;
  width: 170px;
  height: 92px;
}
.clients__icon {
  fill: #afb1b8;
}
.clients__icon:hover svg {
  fill: #2196f3;
}
.clients__icon:focus svg {
  fill: #2196f3;
}
.clients__icons:hover {
  border: 1px solid #2196f3;
}
.address__name {
  color: #fff;
}
.address__contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  padding: 9px 0px 9px 0px;
  display: block;
}
.end {
  background-color: #2f303a;
}

.end-container {
  display: flex;
  padding: 60px 0px 80px 0px;
}
.button{
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height:50px;

}
.header-section__btn{
    margin: 0px 500px 200px 500px;
    padding: 10px 41px 10px 42px;
    text-align: center;
}
.modal__btn {
  text-align: center;
  margin: 30px 124px 40px 124px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;
}
.modal__btn:hover,
.modal__btn:focus {
  background-color:#066981;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;
}
.header-section__btn:hover {
  box-shadow: inset -2px 3px 43px 0px rgba(66, 68, 90, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__btn {
  position: relative;
  text-align: left;
  padding: 10px 28px 10px 42px;
  cursor: pointer;
}
.newsletter__btn:hover,
.newsletter__btn:focus {
  transition-duration: 250s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: inset -2px 1px 42px -17px rgba(66, 68, 90, 1);
}
.newsletter__icon {
  position: absolute;
  left: 148px;
  right: 28px;
  top: 13px;
  bottom: 13px; 
}
.newsletter__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 20px;
}
.newsletter{
  margin-left: 78px;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  margin-right: 12px;
  padding-left: 16px;
}
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  padding-bottom: 50px;
}
.buttons-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.buttons-list__button {
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 15px 6px 15px;
  line-height: 1.6;
  width: 121px;
  height: 38px;
  background-color: #f5f4fa;
  margin: 4px;
  border-radius: 4px;
}
.buttons-list__button:hover,
.buttons-list__button:focus {
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 121px;
  height: 38px;
}

.img-grid {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
  column-gap: 30px;
}
.img-grid__item:hover .overlay-hidden {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  cursor: pointer;
  transform: translateY(0);
}
.img-grid__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.grid-txt__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  padding: 20px 24px 20px 24px;
  margin: 0px;
}
.grid-txt__paragraph {
  font-size: 16px;
  line-height: 1, 8;
  padding: 20px 24px 20px 24px;
  margin: 0px;
}


.astronaut-1 {
  margin: 0px 0px 0px 15px;
}
.grid-txt {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  align-items: center;
  justify-content: center;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  opacity: 1;
  visibility: visible;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btn-close {
  position: absolute;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #fff;
  transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover {
  color: white;
  background-color: #2196f3;
  transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.overlay-hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0px;
  transform: translateY(150%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.img-grid__overlay {
  overflow: hidden;
  position: relative;
  width: 370px;
  height: 294px;
}
.overlay-hidden__txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}


.modal__paragraph {
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  line-height: 1;
  text-align: center;
  margin: 40px 40px 12px 40px;
}
.modal-form {
  width: 448px;
  height: 342px;
  margin: 12px 40px 20px 40px;
}
.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
}
.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 50px;
}
.modal-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 15px;
}
.modal-form__link {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal-form__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal-form__input:focus + svg {
  fill: #2196f3;
}
.checkbox__form{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.checkbox__label::before {
  display: block;
  position: absolute;
  left: 12px;
  top: 0px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__label::before {
  background-color: #2196f3;
  border: none;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width:16px;
  height:15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input {
  appearance: none;
}
.checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,7;
}
