body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}
.container {
  width: 1200px;
}
.section {
  padding: 94px 0px 94px 0px;
}
.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;
  color: #212121;
  margin: 24px 70px 25px 15px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #212121;
  text-decoration: none;
  padding: 0px 23px 0px 23px;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
}
.btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 15px 6px 15px;
  line-height: 1.6;
  width: 121px;
  height: 38px;
  background-color:#F5F4FA;
  margin:4px;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 121px;
  height: 38px;
}
.multicolor-txt {
  color: #2196f3;
}
.link-contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  padding: 0px 25px 0px 25px;
}
.link-contact:hover,
.link-contact:focus {
  color: #2196f3;
}
.header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  padding: 20px 24px 20px 24px;
  margin:0px;
}
.paragraph {
  font-size: 16px;
  line-height: 1, 8;
  padding: 20px 24px 20px 24px;
  margin:0px;
}
.multicolor-end {
  color: #ffffff;
}
.address {
  color: #fff;
}
.header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin: 200px 252px 30px 252px;
}
.button-main {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  margin: 0px 500px 200px 500px;
}

.header-title-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  color: #212121;
}
.paragraph-main {
  font-size: 14px;
  line-height: 1.7;
}
.header-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  color: #212121;
  text-align: center;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  color: #212121;
}
.team-position {
  font-size: 16px;
  line-height: 1.1875em;
}
.navigation {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.contact-list {
  display: flex;
  list-style: none;
  margin: 32px 2px 32px 83px;
}

.paragraph-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.paragraph-list-item {
  text-align: left;
  padding: 0px 15px 0px 15px;
}
.container-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}
.button-section {
  display: flex;
  background-color: #2f303a;
  flex-direction: column;
  align-items: center;
}
.header-section {
  padding: 0px;
}
.img-list {
  list-style: none;
  display: flex;
  padding: 50px 0px 0px 0px;
}
.img-list-item {
  margin: 20px 15px 0px 15px;
}
.team-photos-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin: 4px 15px 0px 15px;
  text-align: center;
}
.team-photos {
  display: flex;
  padding: 0px;
}
.logo-link-end {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;
  color: #212121;
  margin: 60px 1040px 20px 15px;
}
.end-container {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
}
.end-contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  display: flex;
  padding: 9px 0px 9px 0px;
}
.end-address {
  margin: 0px 25px 60px 15px;
}
.section-color-team {
  background-color: #f5f4fa;
  width: 1200px;
}
.btn-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background:
}
.img-grid {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
  column-gap: 30px;
}
.img-grid-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  border: 1px solid #eeeeee;
}
