body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0px 94px 0px;
}
.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;
  color: #212121;
  margin: 24px 70px 25px 15px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #212121;
  text-decoration: none;
  padding: 0px 23px 0px 23px;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  padding-bottom:50px;
}
.btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 15px 6px 15px;
  line-height: 1.6;
  width: 121px;
  height: 38px;
  background-color: #f5f4fa;
  margin: 4px;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 121px;
  height: 38px;
}
.multicolor-txt {
  color: #2196f3;
}
.link-contact {
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  padding: 0px 25px 0px 10px;
}
.link-contact:hover,
.link-contact:focus  {
  color: #2196f3;
  fill:#2196f3;

}
.header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  padding: 20px 24px 20px 24px;
  margin: 0px;
}
.paragraph {
  font-size: 16px;
  line-height: 1, 8;
  padding: 20px 24px 20px 24px;
  margin: 0px;
}
.multicolor-end {
  color: #ffffff;
}
.address {
  color: #fff;
}
.header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin: 200px 252px 30px 252px;
}
.button-main {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  margin: 0px 500px 200px 500px;
}

.header-title-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  color: #212121;
}
.paragraph-main {
  font-size: 14px;
  line-height: 1.7;
}
.header-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  color: #212121;
  text-align: center;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  color: #212121;
  margin: 30px 99px 10px 99px;
}
.team-position {
  font-size: 16px;
  line-height: 1.1875em;
  margin:0 auto;
}
.navigation {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.contact-list {
  display: flex;
  list-style: none;
  margin: 32px 0px 32px 83px;
  justify-content: flex-end;
}

.paragraph-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.paragraph-list-item {
  text-align: left;
  margin:0px 15px 0px 15px;
}
.container-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  justify-content: space-around;
}
.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-section {
  padding: 0px;
}
.img-list {
  list-style: none;
  display: flex;
  padding: 50px 0px 0px 0px;
}
.img-list-item {
  margin: 20px 15px 0px 15px;
}
.team-photos-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin: 4px 15px 0px 15px;
  text-align: center;
}
.team-photos {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.logo-link-end {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;
  color: #212121;
}
.end-container {
  background-color: #2f303a;
  display:flex;
  padding: 60px 0px 0px 0px
}
.end-contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  padding: 9px 0px 9px 0px;
  display:block;
}

.section-color-team {
  background-color: #f5f4fa;
}
.btn-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.img-grid {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
  column-gap: 30px;
}
.img-grid-item:hover{
  border:1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor:pointer;
}
.img-grid-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.clients-header{
  font-weight: 700;
font-size: 36px;
line-height: 1,16;
text-align:center;
color: #212121;
}
.header-section{
  background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(../images/background.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  max-width: 1600px;
  margin:0 auto;
}
.feats-icon{
margin:0px 15px 0px 15px;
background-color:#F5F4FA;
border-radius: 4px;
}
.astronaut-1{
  margin:0px 0px 0px 15px;
}
.social-icons{
  margin:16px 32px 18px 32px;
}
.social-icon{
  border-radius: 50%;
  fill:#757575;
  text-decoration:none;
}
.social-icon:hover svg,
.social-icon:focus svg{
  fill: #ffffff;
  background-color: #2196f3;
}
.contact-icon{
  margin:0px 10px 0px 0px;
}
.contact-icons{
  align-items: center;
}
.contact-icons:hover{
  fill: #2196f3;
}
.contact-icons:hover .link-contact{
  color: #2196f3;
}
.company-icons:{
  border:2px solid black;
  width:170;
  height:92;
}
.company-list{
  display:flex;
  justify-content: space-between;
  padding: 0px;
}
.company-icons{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  list-style: none;
  width: 170px;
  height: 92px;
}
.company-icon{
  fill:#AFB1B8
}
.company-icon:hover svg{
  fill:#2196f3;
}
.company-icon:focus svg{
  fill:#2196f3;
  border: 1px solid #2196f3;
}
.company-icons:hover{
  border: 1px solid #2196f3;
}
.end{
  display:flex;
  flex-direction: row;
  background-color: #2f303a;
  padding: 0px 0px 80px 0px
}
.end-header{
  line-height:1.14;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.end-icons{
  padding: 0px 0px 0px 70px;
}
.end-icon{
  border-radius: 50%;
  fill:#ffffff;
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.1);
}
.end-icon:hover{
  fill:white;
  background-color: #2196f3;
}
.end-icon-link{
  text-decoration: none;
}
.end-icon-link:focus svg{
  fill:white;
  background-color:#2196f3;
}
.grid-txt{
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
