@import "./components/basic";
@import "./components/logo";
@import "./components/header";
@import "./components/button";
@import "./components/main-page";
@import "./components/portfolio";
@import "./components/social-icon";
@import "./components/footer";
@import "./components/modal";
