@import "../utils/variables.scss";
.container{
  width:480px;
  padding: 30px 15px;
}
body {
  font-family: $primary-font, $second-font, sans-serif;
  color: #757575;
}
// // .section {
// //   padding: 94px 0px 94px 0px;
// }
.end {
  background-color: $footer-color;
}
